<div class="album py-5 bg-light">
<div class="container">
  <div class="success">
    <p><h3 class="comp">
      投稿が完了しました。
    </h3></p>
    <p><a class="btn btn-secondary my-2" href="/tweets">投稿一覧へ戻る</a></p>
  </div>
</div>
</div>